body {
  background-color: #e6f7ff; /* azul pastel claro */
  color: #333333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #7d9fa4; /* gris azulado suave */
}

#mesh {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.semester {
  background-color: #f0e6ff; /* morad*
