body {
  background-color: #e6f7ff; /* azul pastel claro */
  color: #333333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #7d9fa4; /* gris azulado suave */
}

#mesh {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.semester {
  background-color: #f0e6ff; /* morado pastel suave */
  border: 2px solid #c9b3ff; /* morado más marcado */
  border-radius: 10px;
  padding: 10px;
  width: 260px;
}

.semester h3 {
  text-align: center;
  color: #8c7ae6; /* morado pastel medio */
  margin-top: 0;
}

.subject {
  background-color: #b3ffe0; /* verde agua pastel */
  border: 2px solid #c9ffe8;
  borde
